<ion-view view-title="Plamhuv">
  <ion-content>

<div align="center" class="logo">
<img src="images/logo.png">
</div>

<a href="#/app/content/268">
<div class="iconesnovo1">
<div class="icones">
<img src="images/icone01.png"></div>
Quem Somos
</div></a>

<a href="#/app/content/269">
<div class="iconesnovo2">
<div class="icones">
<img src="images/icone02.png"></div>
Parceiros
</div></a>

<a href="#/app/sections/section_2">
<div class="iconesnovo3">
<div class="icones">
<img src="images/icone03.png"></div>
Guia Médico
</div></a>

<a href="#/app/servicos">
<div class="iconesnovo4">
<div class="icones">
<img src="images/icone04.png"></div>
Serviços
</div></a>

<a href="#/app/sections/section_1">
<div class="iconesnovo5">
<div class="icones">
<img src="images/icone05.png"></div>
Clube de Vantagens
</div></a>

<a href="#/app/sections/section_6">
<div class="iconesnovo6">
<div class="icones">
<img src="images/icone06.png"></div>
Notícias
</div></a>

<a href="#/app/simulador">
<div class="iconesnovo7">
<div class="icones">
<img src="images/icone07.png"></div>
Simulador de Preços
</div></a>

<a href="#/app/sections/section_5">
<div class="iconesnovo8">
<div class="icones">
<img src="images/icone08.png"></div>
Campanhas
</div></a>

<a href="#/app/sections/section_1">
<div class="iconesnovo5">
<div class="icones">
<img src="images/icone09.png"></div>
Localização
</div></a>

<a href="/#/app/content/287">
<div class="iconesnovo6">
<div class="icones">
<img src="images/icone10.png"></div>
Contato
</div></a>

<a href="#/app/sections/section_2">
<div class="iconesnovo7">
<div class="icones">
<img src="images/icone11.png"></div>
Facebook
</div></a>

<a href="#/app/sections/section_2">
<div class="iconesnovo8">
<div class="icones">
<img src="images/icone12.png"></div>
Twitter
</div></a>

<div class="anunciohome">
<img src='images/banner.jpg' class="anunciohome">
</div>
<div class="rodape" align="center">
<a href="http://www.informatizaweb.com.br"><img src="images/informatiza.png"></a>
</div>
  </ion-content>
</ion-view>
