<ion-view title="Ebós" id="page40" class=" ">

    <ion-content class="has-header">

        <div ng-repeat="item in items" class="list card" ng-click="goToContent(item.id)">

            <div class="ebos">

                <div align="center" class="imgebos"><img class="full-image2" ng-src="{{item.images.imageLarge}}"></div>
                <div class="titulonews">{{item.title}}</div>
                <div class="botaoebo">Leia mais</div>
            </div>

        </div>

    </ion-content>
</ion-view>