<ion-view title="Horóscopo" id="page8" class="">
    <ion-content style="background: url(img/horoscopo.jpg) no-repeat center;background-size:cover;" class="has-header">
    
    <div class="spacer" style="width: 300px; height: 35px;"></div>
        <p align="center">
        <iframe id="horoscopovirtual-gadget" src="https://gadget.horoscopovirtual.com.br/horoscopo/?background=333333&color=ffffff" name="hv-gadget" width="300" height="300" frameborder="no" scrolling="no"></iframe>
        </p>
    <div class="spacer" style="width: 300px; height: 15px;"></div>

     <img src="img/rDLCsgwSsqANcGf9QdKz_logo.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">

    </ion-content>
</ion-view>