<ion-view title="Horóscopo" id="page8" class="">
    <ion-content style="background: url(img/radio.jpg) no-repeat center;background-size:cover;" class="has-header">

        <div ng-repeat="item in items">

            <div class="titulo">
                <h2>{{item.title}}</h2>
                <div align="center"><img class="full-image2" ng-src="{{item.images.imageLarge}}"></div>
                <div ng-bind-html="item.introtext"></div>
            </div>

        </div>

    </ion-content>
</ion-view>