<ion-view title="Início" id="page7" class=" ">
    <ion-content padding="true" style="background: url(img/6xvhWXCTSKyzscw40yHv_fundoapp.jpg) no-repeat center;background-size:cover;" class="has-header">
     <div class="spacer" style="width: 300px; height: 15px;"></div>
        <a ui-sref="tabsController.rDioAoVivo" id="inCio-button1" class=" button button-assertive  button-block icon-left ion-ios-musical-notes ">Rádio ao Vivo</a>

<a ui-sref="tabsController.Assistir" id="inCio-button1" class=" button button-assertive  button-block icon-left ion-ios-videocam ">Assistir ao Vivo</a>


        <a ui-sref="tabsController.programaO" id="inCio-button2" class=" button button-assertive  button-block icon-left ion-ios-list ">Programação</a>
        <a ui-sref="tabsController.promoEs" id="inCio-button3" class=" button button-assertive  button-block icon-left ion-android-star ">Promoções</a>
        <a ui-sref="tabsController.peASuaMSica" id="inCio-button4" class=" button button-assertive  button-block icon-left ion-ios-musical-note ">Peça sua Música</a>
        <a ui-sref="tabsController.horoscopo" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-ios-ionic-outline ">Horóscopo</a>


<a ui-sref="tabsController.equipe" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-android-microphone ">Equipe</a>
<a ui-sref="tabsController.ouvinte" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-android-people ">Ouvintes</a>
<a navigate-To="https://www.radionocaute.com.br/portal/cadastro-ouvinte" target="_blank" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-android-checkbox ">Cadastro de Ouvinte</a>
<a ui-sref="tabsController.noticias" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-android-globe ">Notícias</a>
<a ui-sref="tabsController.artistas" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-arrow-graph-up-right ">Top 10 - Artistas</a>
<a ui-sref="tabsController.patrocinadores" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-ios-navigate-outline ">Patrocinadores</a>
<a ui-sref="tabsController.ebos" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-ios-cog-outline ">Ebós</a>
<a ui-sref="tabsController.simpatias" id="inCio-button5" class=" button button-assertive  button-block icon-left ion-ios-copy-outline ">Simpatias</a>

        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div class="">
            <img src="img/rDLCsgwSsqANcGf9QdKz_logo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>