<ion-view title="Notícias" id="page12" class=" ">
    <ion-content padding="true" style="background: url(img/noticias.jpg) no-repeat center;background-size:cover;" class="has-header">
     
<div class="spacer" style="width: 300px; height: 10px;"></div>
     <ion-list id="guiaMDico-list1" class=" ">
            
            <ion-item class="positive  " id="guiaMDico-list-item2" href="#/page1/page14">Esporte</ion-item>
            <ion-item class="positive  " id="guiaMDico-list-item3" href="#/page1/page15">Internacionais</ion-item>
            <ion-item class="positive  " id="guiaMDico-list-item4" href="#/page1/page16">Música</ion-item>
            <ion-item class="positive  " id="guiaMDico-list-item5" href="#/page1/page17">Nacionais</ion-item>
            <ion-item class="positive  " id="guiaMDico-list-item6" href="#/page1/page18">Polícia</ion-item>
            <ion-item class="positive  " id="guiaMDico-list-item7" href="#/page1/page19">Política</ion-item>
            <ion-item class="positive  " id="guiaMDico-list-item1" href="#/page1/page13">Regionais</ion-item>
            
        </ion-list>


        <div class="spacer" style="width: 400px; height: 20px;"></div>
        
    </ion-content>
</ion-view>