<ion-view title="Detalhes do Patrocinador" id="page20" class=" ">
    <ion-content class="has-header">

        <div class="list card">

          <div class="titulonews2">
                <div align="center" class="imgartistas"><img class="full-image2" ng-src="{{item.images.imageLarge}}"></div>
                <div class="titulonews">{{item.title}}</div>
                <div class="newsintro">
                <div ng-bind-html="item.introtext"></div></div>
            </div>

        </div>

    </ion-content>
</ion-view>